body {
  background-color: rgb(255, 253, 253);
}

.bg-light {
  background-color: rgb(252, 249, 249) !important;
}

.btn {
  margin-left: 5px;
  background-color: transparent;
  border: 1px solid rgb(250, 248, 248);
  color: rgb(10, 10, 10);
}

.btn:hover {
  background-color: transparent;
  color: rgb(12, 12, 12);
  border: 1px solid rgb(250, 247, 247);
}

.btn:focus {
  outline: none;
}

.btn:active {
  background-color: transparent;
  color: rgb(252, 251, 251);
  border: 1px solid rgb(8, 8, 8);
}
.navbar-brand {
  color: rgb(7, 7, 7);
}
.navbar-brand:hover {
  color: rgb(8, 8, 8);
}
.carousel {
  display: flex;
  justify-content: center;
}

.carousel-inner {
  width: 50% !important;
}

.spanDetails {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.details {
  position: relative;
}

.details::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3cefff;
  transform-origin: bottom left;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.details:hover::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
